<ul>
  <li>
    <form class="form input-field" (keydown)="keyDownFunction($event)" [formGroup]="myForm">
        <input id="youtube_url" type="text" placeholder="Youtube Url" class="form-control" formControlName="youtube_url" style="color: white">
    </form>
  </li>
  <li>
    <div id="sub-title-button">
      <button class="btn blue waves-effect waves-blue waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </li>
</ul>
