
<div class = "greyed-out-fingerprint" id = "footer-left-align">
<a href="#" data-activates="slide-out" class="btn-floating btn-large waves-effect button-collapse show-on-large">
  <i class="material-icons">menu</i>
</a>
</div>


<ul class="side-nav" id="slide-out">
    <!-- <li><h2 id="title" class="center-align">Audicle</h2></li> -->
    <li><h2 id="logo"><img  src="../assets/Audicle-logo-full@2x.png" alt="Audicle" width="70%" height="70%" align="middle"></h2></li>
    <li><div class="divider"></div></li>
    <li>
      <div class="row slide-menu-padding">
        <h5 id="upload-title" class="center-align">Upload music. See it.</h5>
      </div>
    </li>
    <li>
      <div>
        <div class="row">
          <youtube-dl></youtube-dl>
        </div>
        <div class="row">
          <file-upload></file-upload>
        </div>
      </div>
        <!-- <td>
          <div *ngIf="toggle" class="col s3 m3 l3"></div>
          <div *ngIf="!toggle" class="col s3 m3 l3"></div>
        </td> -->
    </li>
    <li><div class="divider"></div></li>
    <footer id="slide-menu-footer" class=" footer-copyright">
      <div class="row valign-wrapper">
        <div class="col s6 right-align">© 2017 Audicle</div>
        <div class="col s6"><button class="btn-flat help-btn">help</button></div>
      </div>
    </footer>

  </ul>
