{% extends "layout.html" %}
{% block body %}
<div id="explanation">
    <p>This is a project for COP4331 (Summer 2017) at UCF. A work in progress</p>
</div>
<div id="upload">
    <form enctype="multipart/form-data" action="{{ url_for('upload') }}" method="post">
      	<input name="file_choice" type="file">
    </form>
</div>
<br>
<br>
<div id="link-supply">
  	<form action="{{ url_for('youtube') }}" method="post">
   		<input type="url" name="link" placeholder="Enter a YouTube URL">
   	</form>
</div>
{% endblock %}